<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFirstOrder" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICosmos" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Temporary_Listen_Addresses/WCFLab3/Cosmos/Cosmos%20Endpoint"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICosmos"
                contract="CosmosService.ICosmos" name="WSHttpBinding_ICosmos">
                <identity>
                    <userPrincipalName value="Kamil-Komputer\Kamil" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/Temporary_Listen_Addresses/ImperiumWcf/FirstOrder/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirstOrder"
                contract="FirstOrderService.IFirstOrder" name="BasicHttpBinding_IFirstOrder" />
        </client>
    </system.serviceModel>
</configuration>